
@font-face {
    font-family: title font;
    src: url(Star\ Vintage.ttf);
}

@font-face {
    font-family: main font;
    src: url(Soft\ Marshmallow.woff);
}


html {
    font-family: main font;
    background-color: #000000;
    color: whitesmoke;
    text-align: center;

    background-image: url(curtains\(2\).png);
    background-position: 50% 60%;
    background-repeat: no-repeat;
    background-size: 1500px;
    background-attachment: fixed;

    padding-top: 80px;


}


h1 {
    font-family: title font;
    font-size: 60px;
}


a:link {
    color:whitesmoke;
    border-radius: 25px;
    background-color: #BFAAD9;
    padding: 10px ;
    text-decoration: none;
}

a:visited {
    color:whitesmoke;
}

.button {
    line-height: 9;

    position: absolute;
    bottom: 24%;
    right: 44.3%;
}

a:link:hover {
    background-color:#A080C6;
}


form {

}






