
@font-face {
    font-family: title font;
    src: url(Star\ Vintage.ttf);
}

@font-face {
    font-family: main font;
    src: url(Soft\ Marshmallow.woff);
}


html {
    font-family: main font;
    background-color: #000000;
    color: whitesmoke;
    text-align: center;

    background-image: url(curtains\(2\).png);
    background-position: 50% 60%;
    background-repeat: no-repeat;
    background-size: 1500px;
    background-attachment: fixed;

    padding-top: 80px;


}


h1 {
    font-family: title font;
    font-size: 60px;
}


a:link {
    color:whitesmoke;
    border-radius: 25px;
    background-color: #BFAAD9;
    padding: 10px ;
    text-decoration: none;
}

a:visited {
    color:whitesmoke;
}

.button {
    line-height: 9;

    position: absolute;
    bottom: 24%;
    right: 44.3%;
}

a:link:hover {
    background-color:#A080C6;
}

input[type=text] {
    border: 2px solid #A080C6;
    border-radius: 8px;
    background-color: whitesmoke;
    margin: 10px 0;
}

input[type=number] {
    border: 2px solid #A080C6;
    border-radius: 8px;
    background-color: whitesmoke;
    margin: 10px 0;
}
select {
    margin: 10px 0;
    border: 2px solid #A080C6 ;
    border-radius: 4px;
    background-color: whitesmoke;
}

button[type=button], button[type=submit] {
    background-color: #BFAAD9;
    border: 2px solid #A080C6;
    color: whitesmoke;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #A080C6;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}






