
@font-face {
    font-family: title font;
    src: url(Star\ Vintage.ttf);
}

@font-face {
    font-family: main font;
    src: url(Soft\ Marshmallow.woff);
}


html {
    font-family: main font;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    background-image: url(curtains\(2\).png);
    background-position: 50% 35%;
    padding-top: 100px;
}

h1 {
    font-family: title font;
    font-size: 60px;
}


a:link {
    color:whitesmoke;
    border: 10px solid #fe9804;
    border-radius: 25px;
    background-color: #fe9804;
    padding: 15px ;
    text-decoration: none;
}

a:visited {
    color:whitesmoke;
}