
@font-face {
    font-family: title font;
    src: url(Star\ Vintage.ttf);
}

@font-face {
    font-family: main font;
    src: url(Soft\ Marshmallow.woff);
}


html {
    font-family: main font;
    background-color: black;
    color: whitesmoke;
    text-align: center;
}

h1 {
    font-family: title font;
    font-size: 60px;

}


a:link {
    color:whitesmoke;
    border-radius: 25px;
    background-color: #fe9804;
    padding: 20px;
    width: 200px;
    height: 150px;
    text-decoration: none;
}

a:visited {
    color:whitesmoke;
}